<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

<header>
    <div class="container">

        <div class="logo">
            <i class="fa-solid fa-m"></i>
            <i class="fa-solid fa-e"></i>
            <i class="fa-solid fa-c"></i>
        </div>

        <nav>
            <ul>


            </ul>
        </nav>

    </div>
</header>

<div class="cont">
    <div class="title">Hello! Welcome to my site!</div>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
        <div class="user-details">
            <div class="input-box">
                <span class="details">First Name</span>
                <input type="text" placeholder="Enter your first name" required th:field="*{firstName}">
            </div>
            <div class="input-box">
                <span class="details">Last Name</span>
                <input type="text" placeholder="Enter your last name" required th:field="*{lasttName}">
            </div>
            <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
                <span class="details">Phone Number</span>
                <input type="text" placeholder="Enter your number" required>
            </div>
            <div class="input-box">
                <span class="details">Age</span>
                <input type="text" placeholder="Enter your age" required>
            </div>
            <div class="input-box">
                <span class="details">Company</span>
                <input type="text" placeholder="Enter your company" required>
            </div>
        </div>
        <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Gender</span>
            <div class="category">
                <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                </label>
                <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                </label>
                <label for="dot-3">
                    <span class="dot three"></span>
                    <span class="gender">Prefer not to say</span>
                </label>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Go to site">
        </div>
    </form>
</div>

<footer>
    <div class="footer-content">
        <h3> Mihon Elvis Ciprian</h3>
        <p>Life is good</p>
        <ul class="socials">
            <li><a href="https://facebook.com/cipi.mihon" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://digitalstation.workplace.com/" target="_blank"><i class="fa-brands fa-weebly"></i></a></li>
            <li><a href="https://www.instagram.com/cipi.mihon/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://ro.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;12.12.2022 mC</p>
    </div>

</footer>

</body>

</html>